body {
    background-color: #6c8432;
}
.container {
    width: 95%;
    height: 300px;
    border-radius: 15px;
    padding: 20px;
    margin: auto;
    background:url(Image1/kand-5.jpg) no-repeat;
    background-size: 100%;
    margin-top: 60px;
}
/* hero start */
.hero {
    margin-top: 5%;
    text-align: center;
}
.hero h1 {
    font-size: 30px;
    color: #6c8432;
}
.hero p {
    font-size: 20px;
    color: #6c8432;
    padding: 25px;
}

/* program start */
.prog {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #6c8432;
    margin-top: 10%;
}
.prog h2{
    color: #fdfbd4;
    font-size: 30px;
}
.prog ul li {
    color: #fdfbd4;
    font-size: 20px;
}
.pol-3_img {
    text-align: center;
    padding:10px;
}
.pol-3_img img {
    margin-top: 5%;
    border-radius: 10px;
    width:100%;
    height: 250px;
}
.prog1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #6c8432;
    margin-top: 10%;
}
.prog1 h2 {
    color: #fdfbd4;
    font-size: 30px;
}
.prog1 ul li {
    color: #fdfbd4;
    font-size: 20px;
}

/* FAQ start */
.text2 {
    text-align: left;
    color: #6c8432;
    font-size: 25px;
    margin-top: 10%;
    margin-left: 15%;
}
.drop_down {
    background-color: #6c8432;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 15%;
    margin-right: 40%;
    border-radius: 10px;
}
.text3 {
    color: #fdfbd4;
    font-size: 20px;
}
.drop_down2 {
    background-color: #6c8432;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 40%;
    border-radius: 10px;
}
.text4 {
    color: #fdfbd4;
    font-size: 20px;
}
.drop_down3 {
    background-color: #6c8432;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 40%;
    border-radius: 10px;
}
.text5 {
    color: #fdfbd4;
    font-size: 20px;
}
.drop_down4 {
    background-color: #6c8432;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 40%;
    border-radius: 10px;
}
.text6 {
    color: #fdfbd4;
    font-size: 20px;
}