body {
    background-color: #fdfbd4;
}
.container1 {
    width: 95%;
    height: 300px;
    border-radius: 15px;
    padding: 20px;
    margin: auto;
    background:url(Image1/pol-2-2.jpg) no-repeat;
    background-size: 100%;
    margin-top: 60px;
}

/* hero start */
.hero {
    text-align: center;
}
.hero h1 {
    font-size: 30px;
    color: #6c8432;
}
.hero p {
    font-size: 20px;
    color: #6c8432;
    padding: 25px;
}

/* row start */
.pol-4_img {
    margin-top: 1%;
    margin-left: 15%;
    text-align: center;
    padding:10px;
}
.pol-4_img img {
    border-radius: 10px;
    width:100%;
    height: 250px;
}
.row {
    margin-top: 10%;
    margin: 65px;
    background-color: #6c8432;
    height: 300px;
    width: 90%;
    padding: 5px;
    border-radius: 10px;
}
.row h2 {
    font-size: 30px;
    color: #fdfbd4;
    margin-left: 20px;
}
.row p {
    font-size: 20px;
    color: #fdfbd4;
    margin-left: 20px;
}
.para {
    margin-top: 10%;
    margin: 65px;
    background-color: #6c8432;
    height: 300px;
    width: 90%;
    padding: 5px;
    border-radius: 10px;
}
.para h2 {
    font-size: 30px;
    color: #fdfbd4;
    margin-left: 20px;
}
.para p {
    font-size: 20px;
    color: #fdfbd4;
    margin-left: 20px;
}